.POD {
    width: 800px;
    height: 600px;
    color: white;
   
}
/* .POD-main {
    background-color: #211e21;

} */
.POD-h1 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    
}
.POD-h2 {
    color: white;
}
.POD-h3 {
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.POD-h4 {
    color: white;
}
.row {  
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    /* background-color: #1f1d24; */
    padding: 20px;
}
.main {
    flex: 70%;
    /* background-color: rgb(59, 47, 66); */
    padding: 20px;
    
}
textarea {
    width: 600px;
    height: 150px;
  }
.unordered {
    text-align: center;
    list-style: none;
    color: white;
    
  }
.list {
    border: double;
    margin: 30px;
    text-align: center;
    color: white;
}  
.POD-p {
    margin: 30px;
    color: white;
}