.Game {
  text-align: center;
  /* background-color: #211e21; */
  
}

.Game-header {
  /* background-color: #222; */
  height: 50px;
  padding: 20px;
  color: solid rgb(253, 253, 253);
}

.Game-title {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.Game-status {
  padding: 20px;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  color: white; 
}

.Game-intro {
  font-size: large;
}

.Card {
  display: inline-block;
  border-color: white;
  border-width: 7px;
  border-style: groove;
  margin-bottom: 10px;      
  margin-left: 10px;  
  width: 100px;    
}

.Matched {
  border-color: #ed04e5;
}

.CardContainer {
  display: inline-block;
  max-width: 650px;
  margin: '20px auto';
  
  
  
}
body {
  background-color: darkslategrey;
}
