body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #211e21;
  /* background-image: url(/images/background.png);
  background-position: center;
  background-repeat: inherit; */
}
